<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Add assignment</title>
</head>
<body>
<!-- Nav bar -->
<div th:insert="fragments/nav-bar-fragment"/>

<div class="container w-50 text-center mt-4"
     th:if="${!patients.isEmpty() || current_logged_in.userRole.name() == 'ADMIN'}">
    <h5 class="text-info mb-4">Add assignment</h5>
    <form th:action="@{/assignments/{id}/edit(id=${edited_assg.id})}" th:method="post" th:object="${edited_assg}">

        <div class="form-group m-2 mb-3" th:if="${current_logged_in.userRole.name() != 'ADMIN'}">
            <label for="pat" class="mb-1 lead">Patient</label>
            <select name="pat-id" id="pat" class="form-control">
                <option th:each="p: ${patients}" th:value="${p.id}" th:selected="${edited_assg.patient.id == p.id}" th:text="${p.toStringLight()}"/>
            </select>
        </div>
        <div class="form-group m-2 mb-3" th:if="${current_logged_in.userRole.name() == 'ADMIN'}">
            <label for="pat2" class="mb-1 lead">Patient</label>
            <select name="pat-id" id="pat2" class="form-control">
                <option th:each="p: ${all_patients}" th:value="${p.id}" th:selected="${edited_assg.patient.id == p.id}" th:text="${p.toStringLight()}"/>
            </select>
        </div>

        <div class="form-group m-2 mb-3">
            <label for="at" class="mb-1 lead">Assignment type</label>
            <div class="form-check" id="at"
                 th:each="a: ${T(com.kozka.hospitaldepartment.entities.AssignmentType).values()}">
                <input th:selected="${edited_assg.assgType == a}" onclick="filter()" class="form-check-input" required type="radio" th:value="${a}" th:text="${a}"
                       th:field="*{assgType}"/>
            </div>
        </div>

        <div class="form-group m-2 mb-3">
            <label class="mb-1 lead">Assign to</label>
            <select name="asg-id-all" th:id="'asg-all'" class="form-control">
                <option th:class="'opt_doctors'" th:each="d: ${all_doctors}" th:value="${d.id}"
                        th:text="${d.toStringLight()}"/>
            </select>
            <select style="display: none" name="asg-id-doc" th:id="'asg-doctors'" class="form-control">
                <option th:class="'opt_doctors'" th:each="d: ${doctors}" th:value="${d.id}"
                        th:text="${d.toStringLight()}"/>
            </select>
        </div>

        <div class="form-group m-2 mb-3" th:with="err=${errors_map?.keySet()?.contains('description')}">
            <label for="ds" class="mb-1 lead">Description</label>
            <input id="ds" type="text" th:class="'form-control' + ${(err == null ? '' : (err ? ' is-invalid' : ''))}"
                   th:field="*{description}">
            <div class="invalid-feedback" th:if="${err}" th:text="${errors_map.get('description')}"/>
        </div>

        <div class="form-group m-2 mb-3" th:with="err=${errors_map?.keySet()?.contains('assignmentDate')}">
            <label for="ad" class="mb-1 lead">Assigned date</label>
            <input id="ad" th:class="'form-control' + ${(err == null ? '' : (err ? ' is-invalid' : ''))}"
                   type="datetime-local" th:field="*{assignmentDate}">
            <div class="invalid-feedback" th:if="${err}" th:text="${errors_map.get('assignmentDate')}"/>
        </div>

        <input hidden type="text" th:field="*{assigner}">
        <input hidden type="datetime-local" th:field="*{creationDate}">
        <input hidden type="text" th:field="*{completed}">

        <button type="submit" class="btn btn-primary btn-block mt-2 mb-4">Submit</button>
    </form>
</div>


<div class="container w-50 text-center mt-4"
     th:if="${patients.isEmpty() && current_logged_in.userRole.name() != 'ADMIN'}">
    <h5 class="text-primary mb-4">You have no patients yet!</h5>
</div>

<script>
    function filter() {
        inputs = document.getElementsByClassName("form-check-input")
        all = document.getElementById("asg-all")
        doctors = document.getElementById("asg-doctors")

        if (inputs[2].checked || inputs[3].checked) {
            all.style.display = 'none'
            doctors.style.display = 'block'
        }
        if (inputs[0].checked || inputs[1].checked) {
            all.style.display = 'block'
            doctors.style.display = 'none'
        }
    }

    window.onload = filter
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>