<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Hold assignment</title>
</head>
<body>
<!-- Nav bar -->
<div th:insert="fragments/nav-bar-fragment"/>

<div class="container w-50 text-center mt-4" th:if="${assg_to_hold.assigned != current_logged_in}">
    <h5 class="text-danger mb-4">Forbidden!</h5>
</div>

<div class="container w-50 text-center mt-4" th:if="${assg_to_hold.assigned == current_logged_in}">
    <h5 class="text-info mb-4" th:text="#{messages.pages.captions.hold.h}"></h5>
    <form th:action="@{/assignments/{id}/hold(id=${assg_to_hold.id})}" th:method="post" th:object="${assg_to_hold}">

        <div class="form-group m-2 mb-3">
            <label for="pat" class="mb-1 lead" th:text="#{messages.table.user-role.patient}"></label>
            <input id="pat" class="form-control" readonly type="text" th:field="*{patient}" th:value="${assg_to_hold.patient.toStringLight()}">
        </div>

        <div class="form-group m-2 mb-3">
            <label for="at" class="mb-1 lead" th:text="#{messages.pages.captions.add.assignment-type}"></label>
            <input id="at" class="form-control" readonly type="text" th:field="*{assgType}">
        </div>

        <div class="form-group m-2 mb-3">
            <label for="ds" class="mb-1 lead" th:text="#{messages.pages.captions.add.description}"></label>
            <input id="ds" readonly type="text" class="form-control" th:value="${assg_to_hold.description}" th:field="*{description}">
        </div>

        <div class="form-group m-2 mb-3" th:with="err=${conc_error == null}">
            <label for="ad" class="mb-1 lead" th:text="#{messages.table.captions.conclusion}"></label>
            <input id="ad" th:class="'form-control' + ${err ? '' : ' is-invalid'}" type="text" th:field="*{conclusion}">
            <div class="invalid-feedback" th:if="err" th:text="${conc_error}"/>
        </div>

        <input hidden class="form-control" type="text" th:field="*{assigner}">
        <input hidden class="form-control" type="text" th:field="*{assigned}">
        <input hidden class="form-control" type="datetime-local" th:field="*{creationDate}">
        <input hidden class="form-control" type="datetime-local" th:field="*{assignmentDate}">

        <button type="submit" class="btn btn-primary btn-block mt-2 mb-4" th:text="#{messages.table.buttons.submit}"></button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>