<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Assignments</title>
</head>
<body>
<!-- Nav bar -->
<div th:insert="fragments/nav-bar-fragment"/>

<div th:if="${!assignments.isEmpty() && current_logged_in.userRole.name() == 'PATIENT'}" class="container w-50 text-center mt-4">
    <h5 class="text-info mb-4">Assignments</h5>

    <div th:each="as: ${assignments}">
        <div th:insert="fragments/assignments-fragment"/>
        <hr class="my-4">
    </div>
</div>

<div th:if="${!all_assignments.isEmpty() && current_logged_in.userRole.name() == 'ADMIN'}" class="container w-50 text-center mt-4">
    <h5 class="text-info mb-4">All assignments</h5>
    <a th:if="${current_logged_in.userRole.name() == 'ADMIN'}" class="btn btn-outline-info lead mb-3" th:href="@{/assignments/add}">Add assignment</a>

    <div th:each="as: ${all_assignments}">
        <div th:insert="fragments/assignments-fragment"/>

        <a class="btn btn-light btn-block text-body lead mt-3" th:href="@{/assignments/{id}/edit(id=${as.id})}">Edit</a>
        <a class="btn btn-light btn-block text-body lead mt-3" th:href="@{/assignments/{id}/remove(id=${as.id})}">Remove</a>

        <hr class="my-4">
    </div>
</div>

<div th:if="${assignments.isEmpty() && current_logged_in.userRole.name() == 'PATIENT'}" class="container w-50 text-center mt-4">
    <h5 class="text-primary mb-4">No assignments yet!</h5>
</div>

<div th:if="${current_logged_in.userRole.name() == 'DOCTOR'}" class="container w-50 text-center mt-4">
    <a class="btn btn-outline-primary" th:href="@{/assignments/add}">Create assignment</a>
</div>
<div th:if="${current_logged_in.userRole.name() == 'DOCTOR'}" class="container w-50 text-center mt-4">
    <a class="btn btn-outline-primary" th:href="@{/assignments/by-me}">Assignments by me</a>
</div>
<div th:if="${current_logged_in.userRole.name() == 'DOCTOR' || current_logged_in.userRole.name() == 'NURSE'}"
                                            class="container w-50 text-center mt-4">
    <a class="btn btn-outline-primary" th:href="@{/assignments/for-me}">Assignments for me</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>