<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title th:text="#{messages.title.exploring}"></title>
</head>
<body>
<!-- Nav bar -->
<div th:insert="fragments/nav-bar-fragment"/>

<div class="container w-50 text-center mt-4">
    <h5 class="text-info mb-4" th:text="#{messages.pages.captions.cab.h}"></h5>
    <div th:insert="fragments/user-table-fragment" th:with="u=${explored_user}"/>
    <a th:if="${current_logged_in.userRole.name() == 'ADMIN'}"
       class="btn btn-light btn-block text-body lead mt-3"
       th:text="#{messages.pages.buttons.edit}"
       th:href="@{/users/{id}/edit(id=${explored_user.id})}"></a>

    <div th:if="${explored_user.userRole.name() == 'PATIENT'}">
        <a th:if="${current_logged_in.userRole.name() == 'ADMIN'
    || current_logged_in.userRole.name() == 'DOCTOR'
    || current_logged_in.userRole.name() == 'NURSE'}"
           class="btn btn-light btn-block text-body lead mt-3"
           th:text="#{messages.title.health-card}"
           th:href="@{/users/{id}/health-card(id=${explored_user.id})}">Health card</a>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>