<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title th:text="#{messages.title.health-card}"></title>
</head>
<body>
<!-- Nav bar -->
<div th:insert="fragments/nav-bar-fragment"/>

<div class="container w-50 text-center mt-4" th:if="${current_logged_in.userRole == 'ADMIN'
 || current_logged_in.userRole == 'DOCTOR'
 || current_logged_in.userRole == 'NURSE'}" th:with="u=${patient}">
    <h5 class="text-info mb-4" th:text="#{messages.table.user-role.patient}"></h5>
    <div th:insert="fragments/user-table-fragment"/>
</div>

<div class="container w-50 text-center mt-4" th:if="${health_card.isEmpty()}">
    <h5 class="text-info mb-4" th:text="#{messages.pages.captions.health-card.info.empty}"></h5>
</div>

<div class="container w-50 text-center mt-4" th:if="${!health_card.isEmpty()}">
    <h5 class="text-info mb-4" th:text="#{messages.pages.captions.health-card.h}"></h5>
    <a class="btn btn-outline-info lead mb-3" target="_blank"
       th:if="${current_logged_in.userRole.name() == 'ADMIN' || health_card.get(0).patient.id == current_logged_in.id}"
       th:href="@{/patients/{id}/export-health-card(id=${health_card.get(0).patient.id})}"
       th:text="#{messages.pages.buttons.export-health-card}"></a>
    <hr class="my-4">

    <div th:each="as: ${health_card}">

        <table class="table table-borderless"
               th:with="from=#{messages.pages.captions.health-card.from},
                        to=#{messages.pages.captions.health-card.to},
                        on=#{messages.pages.captions.health-card.on},
                        for=#{messages.pages.captions.health-card.for}
                ">
            <tbody>
            <tr>
                <th class="align-middle" colspan="4">
                    <p class="text-body lead" th:text="${from + ' ' + as.assigner?.firstName + ' ' + as.assigner?.lastName
                        + ' ' + to + ' ' + as.assigned?.firstName + ' ' + as.assigned?.lastName}"/>
                </th>
            </tr>
            <tr>
                <th class="align-middle" colspan="4">
                    <p class="text-body lead" th:text="${as.assgType + ' ' + on + ' ' + #temporals.format(as.assignmentDate, 'dd-MM-yyyy HH:mm')
                     + ' ' + for + ' ' + as.description}"/>
                </th>
            </tr>
            <tr>
                <th class="align-middle">
                    <p class="text-body lead" th:text="#{messages.table.captions.conclusion}"></p>
                </th>
                <th class="align-middle" colspan="3">
                    <p class="text-body lead" th:text="${as.conclusion}"/>
                </th>
            </tr>
            </tbody>
        </table>

        <hr class="my-4">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>