<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Health card</title>
</head>
<body>
<!-- Nav bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand disabled">
        <div class="text-danger">
            Hospital
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Cabinet <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/assignments}">Assignments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/health-card}">Health card</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/doctors}">Doctors</a>
            </li>
        </ul>
        <span class="navbar-text">
                <form th:action="@{/logout}" th:method="post">

                    <button type="submit" class="btn btn-light btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                        Logout</button>
                </form>
            </span>
    </div>
</nav>

<h1 class="text-danger text-center mt-5">Work in progress!</h1>

<!--<div class="container w-50 text-center mt-4">-->
<!--    <h5 class="text-info mb-4">Assignments</h5>-->

<!--    <div th:each="r: ${health_card}">-->
<!--        <table class="table table-bordered">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--                <th class="align-middle">-->
<!--                    <p class="text-body lead">Patient</p>-->
<!--                </th>-->
<!--                <th class="align-middle">-->
<!--                    <p class="text-body lead" th:text="${current_logged_in.firstName + ' ' + current_logged_in.lastName}"/>-->
<!--                </th>-->
<!--                <th class="align-middle">-->
<!--                    <a class="btn btn-light text-body lead" th:href="@{/user/{id}(id=${current_logged_in.id})}">explore</a>-->
<!--                </th>-->
<!--            </tr>-->
<!--            <tr th:if="${as.assigner != null}">-->
<!--                <th class="align-middle">-->
<!--                    <p class="text-body lead">Assigner</p>-->
<!--                </th>-->
<!--                <th class="align-middle">-->
<!--                    <p class="text-body lead" th:text="${as.assigner.firstName + ' ' + as.assigner.lastName}"/>-->
<!--                </th>-->
<!--                <th class="align-middle">-->
<!--                    <a class="btn btn-light text-body lead" th:href="@{/user/{id}(id=${as.assigner.id})}">explore</a>-->
<!--                </th>-->
<!--            </tr>-->
<!--            <tr th:if="${as.assigned != null}">-->
<!--                <th class="align-middle">-->
<!--                    <p class="text-body lead">Assigned to</p>-->
<!--                </th>-->
<!--                <th class="align-middle">-->
<!--                    <p class="text-body lead" th:text="${as.assigned.firstName + ' ' + as.assigned.lastName}"/>-->
<!--                </th>-->
<!--                <th class="align-middle">-->
<!--                    <a class="btn btn-light text-body lead" th:href="@{/user/{id}(id=${as.assigned.id})}">explore</a>-->
<!--                </th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th class="align-middle">-->
<!--                    <p class="text-body lead">Date</p>-->
<!--                </th>-->
<!--                <th colspan="2" class="align-middle">-->
<!--                    <p class="text-body lead" th:text="${#temporals.format(as.assignmentDate, 'dd-MM-yyyy HH:mm')}"/>-->
<!--                </th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th class="align-middle">-->
<!--                    <p class="text-body lead" th:text="${as.assgType.name().toLowerCase()}"/>-->
<!--                </th>-->
<!--                <th colspan="2" class="align-middle">-->
<!--                    <p class="text-body lead" th:text="${as.description}"/>-->
<!--                </th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th class="align-middle">-->
<!--                    <p class="text-body lead">Status</p>-->
<!--                </th>-->

<!--                <th th:if="${current_date > as.assignmentDate && !as.completed}" colspan="2" class="align-middle table-danger">-->
<!--                    <p class="text-body lead">Expired!</p>-->
<!--                </th>-->
<!--                <th th:if="${current_date < as.assignmentDate && !as.completed}" colspan="2" class="align-middle table-active">-->
<!--                    <p class="text-body lead">Planned</p>-->
<!--                </th>-->
<!--                <th th:if="${as.completed}" colspan="2" class="align-middle table-info">-->
<!--                    <p class="text-body lead">finished</p>-->
<!--                </th>-->
<!--            </tr>-->
<!--            <tr th:if="${as.completed}">-->
<!--                <th class="align-middle">-->
<!--                    <p class="text-body lead">Conclusion</p>-->
<!--                </th>-->
<!--                <th class="align-middle" colspan="2">-->
<!--                    <p class="text-body lead" th:text="${as.conclusion}"/>-->
<!--                </th>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--        <hr class="my-4">-->
<!--    </div>-->
<!--</div>-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>