<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="header" class="mt-4" style="height: 60vh">
    <div class="h-100 d-flex flex-column justify-content-center align-items-center">

        <!--            <div class="mb-3" style="font-size: 600%">-->
        <!--                <p class="text-dark"><i class="bi bi-cloud-lightning-fill text-danger"></i> Internal error</p>-->
        <!--            </div>-->
        <!--            <p class="text-secondary mb-5" style="font-size: 200%">Houston, we have a problem :(</p>-->
        <!--            <a class="btn btn-outline-light w-25 lead" style="color: black" th:href="@{/}">Home page</a>-->
    </div>
</div>

</body>
</html>