<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header" th:with="cur_url=${#httpServletRequest.requestURI.replace('http://localhost:8080', '')}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand disabled">
            <div class="text-danger d-flex flex-row">
                <i class="bi bi-activity"> </i>
                <div th:text="#{messages.nav.item.brand}"></div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li th:class="${'nav-item ' + (cur_url.contains('cabinet') ? 'active' : '')}">
                    <a th:text="#{messages.nav.item.cab}" class="nav-link" th:href="@{/}"><span class="sr-only">(current)</span></a>
                </li>
                <li th:class="${'nav-item ' + (cur_url.contains('assignments') ? 'active' : '')}">
                    <a th:text="#{messages.nav.item.assignments}" class="nav-link"
                       th:href="@{/assignments}">Assignments</a>
                </li>
                <li th:class="${'nav-item ' + (cur_url.contains('doctors') && !cur_url.contains('archive') ? 'active' : '')}">
                    <a th:text="#{messages.nav.item.doctors}" class="nav-link" th:href="@{/doctors}">Doctors</a>
                </li>
                <li th:if="${current_logged_in.userRole.name() == 'PATIENT'}"
                    th:class="${'nav-item ' + (cur_url.contains('health-card') ? 'active' : '')}">
                    <a th:text="#{messages.nav.item.health-card}" class="nav-link" th:href="@{/health-card}">Health
                        card</a>
                </li>
                <li th:if="${current_logged_in.userRole.name() == 'DOCTOR' || current_logged_in.userRole.name() == 'NURSE'}"
                    th:class="${'nav-item ' + (cur_url.contains('my-patients') ? 'active' : '')}">
                    <a th:text="#{messages.nav.item.my-patients}" class="nav-link" th:href="@{/my-patients}">My
                        patients</a>
                </li>
                <li th:if="${current_logged_in.userRole.name() == 'ADMIN'}"
                    th:class="${'nav-item ' + (cur_url.contains('patients') && !cur_url.contains('archive') ? 'active' : '')}">
                    <a th:text="#{messages.nav.item.patients}" class="nav-link" th:href="@{/patients}">Patients</a>
                </li>
                <li th:if="${current_logged_in.userRole.name() == 'ADMIN'}"
                    th:class="${'nav-item ' + (cur_url.contains('admins') && !cur_url.contains('archive') ? 'active' : '')}">
                    <a th:text="#{messages.nav.item.admins}" class="nav-link" th:href="@{/admins}">Admins</a>
                </li>
                <li th:if="${current_logged_in.userRole.name() == 'ADMIN'}"
                    th:class="${'nav-item ' + (cur_url.contains('archive') ? 'active' : '')}">
                    <a th:text="#{messages.nav.item.archive}" class="nav-link" th:href="@{/archive}">Archive</a>
                </li>
            </ul>

            <span class="navbar-text" th:with="url= ${#httpServletRequest.requestURI + '?lang='}">
                <a th:text="#{messages.nav.item.lang.en}" th:href="${url + 'en'}"></a>
                <a th:text="#{messages.nav.item.lang.ua}" th:href="${url + 'ua'}"></a>
            </span>

            <span class="navbar-text">

                <form th:action="@{/logout}" th:method="post">

                    <button type="submit" class="btn btn-light btn-sm d-flex flex-row">
                        <div th:text="#{messages.nav.item.logout}"></div>

                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                            <path fill-rule="evenodd"
                                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                    </button>
                </form>
            </span>
        </div>
    </nav>
</div>
</body>
</html>