<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add doctor</title>
</head>
<body>
<form th:action="@{/docs/add}" th:method="POST" th:object="${new_user}">
    <label for="fn">First name</label>
    <input id="fn" type="text" placeholder="first name" th:field="*{firstName}">

    <label for="ln">Last name</label>
    <input id="ln" type="text" placeholder="last name" th:field="*{lastName}">

    <label for="em">Email</label>
    <input id="em" type="text" placeholder="email" th:field="*{email}">

    <label for="pa">Password</label>
    <input id="pa" type="password" placeholder="password" th:field="*{pass}">

<!--    выпадающий список со специализациями-->

    <input type="submit" value="Register">
</form>
</body>
</html>