<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<div th:each="assg: ${assgs}">
  <p th:text="${assg.getId()}"/>
  <p th:text="${assg.getAssigned()}"/>
  <p th:text="${assg.getAssigner()}"/>
  <p th:text="${assg.getPatient()}"/>
  <p th:text="${assg.getAssgType()}"/>
  <p th:text="${assg.getDescription()}"/>
  <p th:text="${assg.getCompleted()}"/>
  <p th:text="${assg.getAssignmentDate()}"/>
  <br>
</div>
</body>
</html>