<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <title>Assignments</title>
</head>
<body>
<div class="topnav">
    <a th:href="@{/cab}">Cab</a>
    <a th:href="@{/pats}">Patients</a>
    <a th:href="@{/docs}">Doctors</a>
    <a class="active" th:href="@{/assgs}">Assignments</a>
    <a th:href="@{/logout}">Logout</a>
</div>

<br>

<div style="padding-left:16px">
    <div th:if="${currentUser.getUserRole().name() == 'ADMIN'}">
        <a class="button" th:href="@{/docs/add}">new assign</a>
    </div>

    <br>

    <div th:each="a: ${assgs}">
        <p th:text="${a.getId()}"/>
        <p th:text="${a.getAssignmentDate()}"/>
        <p th:text="${'Patient: ' + a.getPatient().getFirstName() + ' ' + a.getPatient().getLastName()}"/>
        <p th:text="${a.getAssigner()}"/>
        <p th:text="${a.getAssigned()}"/>
        <p th:text="${a.getAssgType()}"/>
        <p th:text="${a.getDescription()}"/>
        <p th:text="${a.getCompleted()}"/>
        <p th:text="${a.getConclusion()}"/>
        <p th:if="${currentUser.getUserRole().name() == 'ADMIN'}"><a th:href="@{/assgs/{id}(id=${a.getId()})}">modify</a></p>
        <p th:if="${currentUser.getUserRole().name() == 'ADMIN'}"><a th:href="@{/assgs/rem/{id}(id=${a.getId()})}">remove</a></p>
        <br>
        <br>
    </div>
</div>
</body>
</html>
