<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <title>PA</title>
    </head>
    <body>
        <div class="topnav">
            <a class="active" th:href="@{/cab}">Cab</a>
            <a th:if="${currentUser.getUserRole().name() != 'PATIENT'}" th:href="@{/pats}">Patients</a>
            <a th:if="${currentUser.getUserRole().name() != 'PATIENT'}" th:href="@{/docs}">Doctors</a>
            <a th:href="@{/logout}">Logout</a>
        </div>

        <div style="padding-left:16px">
            <p th:text="${currentUser.getId()}"/>
            <p th:text="${currentUser.getEmail()}"/>
            <p th:text="${currentUser.getPass()}"/>
            <p th:text="${currentUser.getFirstName()}"/>
            <p th:text="${currentUser.getLastName()}"/>
            <p th:text="${currentUser.getUserRole()}"/>
            <p th:text="${currentUser.getSpecialization()}"/>
        </div>
    </body>
</html>
