<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <title>Patients</title>
    </head>
    <body>
        <div class="topnav">
            <a th:href="@{/cab}">Cab</a>
            <a class="active" th:href="@{/pats}">Patients</a>
            <a th:href="@{/docs}">Doctors</a>
            <a th:href="@{/assgs}">Assignments</a>
            <a th:href="@{/logout}">Logout</a>
        </div>

        <br>

        <div style="padding-left:16px">
            <div th:if="${currentUser.getUserRole().name() == 'ADMIN'}">
                <a th:href="@{/pats/add}">add patient</a>
            </div>

            <br>

            <div th:if="${currentUser.getUserRole().name() == 'ADMIN'}">
                <a th:href="@{/pats/inactive}">Inactive patients</a>
            </div>


            <div th:each="pat: ${patients}">
                <p th:text="${pat.getId()}"/>
                <p th:text="${pat.getEmail()}"/>
                <p th:text="${pat.getPass()}"/>
                <p th:text="${pat.getFirstName()}"/>
                <p th:text="${pat.getLastName()}"/>
                <p th:text="${pat.getUserRole()}"/>
                <p th:text="${pat.getSpecialization()}"/>
                <p th:if="${currentUser.getUserRole().name() == 'ADMIN'}"><a th:href="@{/pats/{id}(id=${pat.getId()})}">modify</a></p>
                <p th:if="${currentUser.getUserRole().name() == 'ADMIN'}"><a th:href="@{/pats/rem/{id}(id=${pat.getId()})}">remove</a></p>
                <br>
                <br>
            </div>
        </div>
    </body>
</html>
